@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
    background: var(--color-secondary, white);
    font-family: "Noto Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%; 
    height: auto;
    vertical-align: top;
}

.card{
    padding: 1rem;
}

.card-button {
    color: #ffffff;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.5vmin;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 70%;
    cursor: pointer;
    background-color: #184269;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    
}

.card-button:hover {
    background-color: #90c8fc;
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

.card-button i{
    margin-left: 1rem;
}


.card-title {
    color: black;
    font-size: 2vmin;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card-body{
    height: 100%;
    width: 100%;
    padding: 0.4rem;
    align-items: center;
}

.card-text {
    color: black;
    font-size: 2vmin;
    margin-bottom: 3rem;
}

.push-down{
    margin-bottom: 45%;
}